@font-face {
  font-family: "TT Lakes";
  src: url("asserts/fonts/TTLakesCondensed-Regular.eot");
  src: local("fonts/"), local("fonts/"),
    url("asserts/fonts/TTLakesCondensed-Regular.eot")
      format("embedded-opentype"),
    url("asserts/fonts/TTLakesCondensed-Regular.woff") format("woff"),
    url("asserts/fonts/TTLakesCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes bold";
  src: url("asserts/fonts/TTLakes-Bold.eot");
  src: local("fonts/"), local("fonts/"),
    url("asserts/fonts/TTLakes-Bold.eot") format("embedded-opentype"),
    url("asserts/fonts/TTLakes-Bold.woff") format("woff"),
    url("asserts/fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #1b1c21;
}
body,
html {
  font-family: "TT Lakes bold";
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 320px;
  color: #000;
  box-shadow: 16px 0px 52px 0px #0e185033;
}
.logo {
  position: fixed;
  display: flex;
  width: 270px;
  padding: 24px;
  z-index: 10;
  background-color: #fff;
}
.header__logo {
  height: 51px;
  padding-left: 16px;
}
.logo__search {
  margin-left: auto;
}
.service {
  display: flex;
  box-sizing: border-box;
  top: 100px;
  flex-direction: column;
  padding-top: 24px;
  z-index: 1;
  overflow: hidden;
}
.service__link {
  padding: 16px 24px 16px 24px;
  opacity: 1;
  transition: opacity 0.5s;
}
.service__link:hover {
  border-left: 4px solid #41f6d7;
  opacity: 0.3;
  padding-left: 20px;
}
.contact {
  width: 196px;
  height: 124px;
  padding: 16px 24px;
}
.contact_padding {
  padding-right: 10px;
}
.contact__address {
  padding-top: 16px 0;
}
.contact_phone {
  display: block;
  font-size: 18px;
  line-height: 28px;
  padding-top: 10px;
}
.lang {
  display: flex;
  width: 100px;
  justify-content: space-between;
  color: #1b1c21;
}
.lang__type {
  opacity: 1;
  transition: opacity 0.5s;
}
.lang__type:hover {
  opacity: 0.3;
}
